.wrapper{
	&:before{
		content: "";
		position: absolute;
		width: 39.3%;
		height: 1024px;
		background: $bg-dark;
		top: 0;
		right: 0;
	}
}
.first-screen{
	padding: 242px 0 60px;
	&__inner{
		@extend .flex-between;
		max-width: 885px;
	}
	&__subtitle{
		margin: 50px 0 294px 120px;
		@extend .flex-between;
		align-items: center;
	}
	&__line{
		width: 130px;
		border-top: 1px solid $color-black;
	}
	&__more{
		color: $color-black;
		margin-left: 40px;
		font-weight: 300;
	}
	&__picture{
		z-index: 2;
	}
	&__row{
		@extend .flex-between;
	}
	&__item{
		color: $color-dark-grey;
		margin-right: 10px;
		cursor: pointer;
		&:last-child{
			margin-right: 0;
		}
		&.active{
			color: $color-black;
		}
	}
	&__discription{
		text-align: right;
		z-index: 5;
	}
}
.discription{
	&__name{
		color: $color-white;
	}
	&__material{
		margin: 9px 0;
		color: $color-grey;
	}
	&__price{
		color: $color-gold;
	}
}
.collection{
	margin: 20px 0;
	@extend .flex-between;
	&__item{
		flex: 0 1 710px;
	}
	&__inner{
		background: rgba(39, 39, 39, 0.5);
		text-align: center;
		padding: 31.6% 0 32.4% 0;
		@extend .flex-center;
		color: $color-white;
		position: relative;
		&:before,
		&:after{
			content: '';
			position: absolute;
			top: 15px;
			right: 15px;
			bottom: 15px;
			left: 15px;
			transition: all 0.7s ease 0.7s;
		}
		&:before{
			border-top: $border;
			border-bottom: $border;
			transform: scaleX(0);
		}
		&:after{
			border-right: $border;
			border-left: $border;
			transform: scaleY(0); 
		}
		&:hover:before,
		&:hover:after{
			transform: scale(1);
		}
	}
	&__item:first-child{
		margin-right: 20px;
		background: url(img/men.jpg);
		background-position: center center;
	}
	&__item:last-child{
		background: url(img/women.jpg);
		background-position: center center;
	}
	&__body{
		position: relative;
		z-index: 5;
	}
	&__chapter{
		font-family: $light-font;
		font-weight: 300;
		font-size: 24px;
		line-height: 31px;
		color: $color-white;
	}
	&__line{
		width: 130px;
		border-top: 1px solid $color-white;
		margin: 22px auto 0;
	}
}
.address{
	background: $color-black;
	@extend .flex-between;
	&__item:first-child{
		flex: 0 1 710px;
		max-width: 386px;
    padding: 0 15px;
		margin: 10% auto;
		color: $color-white;
	}
	&__item:last-child{
		flex: 0 1 730px;
	}
	&__map{
		width: 100%;
		height: 100%;
	}
	&__subtitle{
		margin: 16px 0 60px 0;
	}
	&__input-block{
		border-bottom: 1px solid $color-white;
	}
	&__label{
		color: $color-white;
	}
	&__input{
		@extend .input;
		color: $color-white;
	}
}
.figgery{
	margin: 20px 0;
	@extend .flex-between;
	&__items{
		flex: 0 1 400px;
	}
	&__items:nth-child(2){
		background: url(img/figgery.jpg) no-repeat;
		background-position: center;
		position: relative;
		flex: 0 1 600px;
		margin: 0 20px;
	}
	&__item:first-child{
		margin-bottom: 20px;
	}
	&__discription{
		position: absolute;
		bottom: 20px;
		left: 30px;
	}
}
.item{
	@extend .flex-between;
	flex-direction: column;
	height: 333px;
	padding: 47px 70px 20px;
	background: $bg-grey;
	position: relative;
	&:before,
	&:after{
		content: '';
		position: absolute;
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
		transition: all 0.7s ease 0.7s;
	}
	&:before{
		border-top: $border;
		border-bottom: $border;
		transform: scaleX(0);
	}
	&:after{
		border-right: $border;
		border-left: $border;
		transform: scaleY(0); 
	}
	&:hover:before,
	&:hover:after{
		transform: scale(1);
	}
	&__dascription{
		position: relative;
		z-index: 5;
	}
	&__name{
		color: $color-black;	
	}
	&__material{
		margin: 9px 0;
		color: $color-dark-grey;
	}
	&__price{
		color: $color-gold;
	}
}
.socials{
	padding: 100px 0;
	background: $color-black;
	color: $color-white;
	&__slider{
		margin-top: 80px;
		position: relative;
	}
}
.socials-slider{
	position: relative;
	&__navigation{
		@extend .flex-between;
		align-items: center;
		margin-top: 80px;
	}
	&__block{
		@extend .flex-between;
		max-width: 90px;
	}
	&__wrapper{
		height: 385px;
	}
	&__controls{
		@extend .flex-between;
		align-items: center;
		min-width: 335px;
		cursor: pointer;
		.swiper-pagination-bullet{
			margin: 0 8px;
			background-color: $color-white;
			cursor: pointer;
		}
	}
	&__prev,
	&__next{
		cursor: pointer;
	}
	.swiper-pagination{
		position: relative;
	}
	&__slide{
		width: auto;
		img{
			object-fit: cover;
		}
	}
}
.swiper-container{
  position: inherit;
}
.contact{
	position: relative;
	@extend .flex-between;
	&__item{
		flex: 0 1 50%;
	}
	&__item:first-child{
		background: #109489;
	}
	&__item:last-child{
		@extend .flex-center;
	}
	&__inner{
		max-width: 340px;
		text-align: left;
		padding: 0 15px;
	}
	&__text{
		text-transform: uppercase;
		color: $color-black;
		margin-bottom: 30px;
	}
	&__tel{
		font-family: $primary-font;
		font-weight: 300;
		font-size: 22px;
		line-height: 28px;
		color: $color-grey;
	}
	&__form{
		margin-top: 110px;
		max-width: 280px;
	}
	&__input-block{
		border-bottom: 1px solid $color-black;
	}
	&__label{
		color: $color-grey;
	}
	&__input{
		@extend .input;
		color: $color-grey;
	}
}