.footer{
	padding: 80px 0 90px;
	background: $color-black;
	&__navigation{
		@extend .flex-between;
	}
	&__item{
		color: $color-white;
		@include hover(1px, 5px, $color-white);
	}
	&__row{
		@extend .flex-between;
		align-items: center;
		padding-top: 90px;
	}
	&__info{
		@extend .flex-between;
		flex: 0 1 548px;
		margin-left: 20px;
	}
}
.info{
	&__text{
		color: $color-white;
	}
	&__tel{
		color: $color-grey;
		margin: 15px 0;
	}
	&__socials{
		@extend .flex-between;
		max-width: 90px;
	}
	&__form{
		margin-bottom: 15px;
		min-width: 280px;
	}
	&__input-block{
		border-bottom: 1px solid $color-white;
		input::placeholder {
		  color: $color-grey;
		}
	}
	&__input{
		@extend .input;
		color: $color-grey;
	}
	&__support{
		@extend .flex-between;
		max-width: 200px;
	}
}