body {
	overflow-x: hidden;
	background: $color-dark-grey;
	img{
		max-width: 100%;
	}
	input:focus{
		outline: none;
	}
	a{
		text-decoration: none;
	}
	&.active{
		overflow-y: hidden;
	}
}
.wrapper{
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
	overflow-x: hidden;
	background: $color-white;
}
.container{
	max-width: 1116px;
	margin: 0 auto;
	position: relative;
	padding: 0 15px;
}
.title{
	font-family: $title-font;
	font-size: 64px;
	line-height: 71px;
	letter-spacing: 0.03em;
}
.headline{
	font-family: $title-font;
	font-size: 48px;
	line-height: 53px;
	letter-spacing: 0.03em;
}
.text-italic{
	font-family: $italic-font;
	font-style: italic;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
}
.text{
	font-family: $primary-font;
	font-size: 16px;
	line-height: 21px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.text-light{
	font-family: $light-font;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 23px;
}
.text-big{
	font-family: $primary-font;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.05em;
}
.text-small{
	font-family: $primary-font;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
.btn{
	position: absolute;
	top: 15px;
	right: 0;
}
.input-block{
	position: relative;
	padding: 10px 40px 10px 0;
	label{
	  	font-family: $light-font;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 23px;
		position: absolute;
		pointer-events: none;
		transition: all 0.7s ease 0s;
		top: 50%;
		transform: translateY(-50%);
		display: block;
	}
	input:focus + label,
	input:hover + label{
		transition: all 0.7s ease 0s;
		top: -15px;
		transform: translateY(0);
	}
}
.socials-item{
	width: 35px;
	height: 35px;
	border: 2px solid $color-white;
	box-sizing: border-box;
	background: $color-white;
	border-radius: 50%;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	&:last-child{
		margin-right: 0;
	}
	svg{
		position: relative;
		transition: all 0.7s ease 0s;
		z-index: 3;
	}
	&:hover svg{
		transition: all 0.7s ease 0s;
		transform: rotateY(360deg);
		path{
			fill: $color-white;
		}
	}
	&:before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: $color-white;
		transition: all 0.7s ease 0s;
		z-index: 2;
	}
	&:first-child:hover:before{
		top: 0;
		background: $color-black;
		transition: all 0.7s ease 0s;
	}
	&:last-child:hover:before{
		top: 0;
		background: $color-black;
		transition: all 0.7s ease 0s;
	}
}
.flex-between {
	display: flex;
	justify-content: space-between;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.max-width {
	max-width: 1116px;
	margin: 0 auto;
}
.input {
	width: 100%;
	background: none;
	border: none;
}
@mixin hover($height, $margin, $background) {
	position: relative;
	transition: all 0.7s ease 0s; 
	&:after{
		content: "";
		position: absolute;
		display: block;
		left: 0;
		width: 0;
		height: $height;
		background: $background;
		margin-top: $margin;
		transition: all 0.7s ease 0s; 
	}
	&:hover:after{
		width: 100%;
	}
}
::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track-x{
	background: transparent;
}
::-webkit-scrollbar-thumb{
	background: $color-grey;
	border-radius: 2px;
}