.header{
	position: relative;
	margin: 70px 0;
	&.fixed{
		padding-bottom: 58px; 
	}
	&.fixed .header__inner{
		position: fixed;
		top: 0;
	    left: 0;
    	right: 0;
		width: inherit;
		padding: 15px;
		background: $color-black;
		transition: all 0.7s ease 0s;
		z-index: 15;
		&:before,
		&:after{
			position: absolute;
			content: "";
			top: 0;
			height: 100%;
			display: block;
			width: 147px;
			background: $color-black;
			z-index: -1;
		}
		&:before{
			right: 100%;
		}
		&:after{
			left: 100%;
		}
	}
	&__inner{
		max-width: 1116px;
		margin: 0 auto;
		@extend .flex-between;
		align-items: center;
	}
	&__logo-block{
		position: relative;
	}
	&__logo:last-child{
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		&.active{
			z-index: 15;
		}
	}
	&__block{
		@extend .flex-between;
		flex: 0 0 250px;
		z-index: 30;
	}
	&__navigation{
		@extend .flex-between;
		min-width: 140px;
	}
	&__elect,
	&__user,
	&__basket{
		cursor: pointer;
		flex: 0 0 40px;
		span{
			color: $color-white;
		}
	}
	&__burger{
	   	display: block;
	   	height: 16px;
	   	width: 30px;
	   	position: relative;
	   	cursor: pointer;
	   	z-index: 30;
	   	span{
	      	background: $color-white;
	      	position: absolute;
	      	width: 100%;
	      	height: 2px;
	      	top: 7px;
	      	transition: all 0.7s ease 0s; 
	   	}
	   	&:before,
	   	&:after{
			content: " ";
	      	background: $color-white;
	      	position: absolute;
	      	width: 100%;
	      	height: 2px;
	      	transition: all 0.7s ease 0s; 
	   	}
	   	&:before{
	      	top: 0;
	   	}
	   	&:after{
	      	bottom: 0;
	   	}
	   	&.active {
	      	span{
	         	transform: scale(0);
	      	}
	   	}
	   	&.active:before{
			transform: rotate(45deg);
			top: 7px;
	   	}
	   	&.active:after{
	      	transform: rotate(-45deg);
	      	bottom: 7px;
	   	}
	}
	&__burger-menu{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		max-width: 1440px;
		margin: 0 auto;
		height: 100vh;
		background: $color-black;
		z-index: 10;
		transform-origin: top right;
		transform: scale(0);
		transition: all 0.6s ease 0s;
		&.active{
		   transform: scale(1);
		   transition: all 0.6s ease 0s;
		}
	}
}
.burger-menu{
	&__navigation{
		background: $bg-dark;
		padding: 27px 15px;
		margin: 130px 0 70px;
	}
	&__inner{
		@extend .max-width;
		@extend .flex-between;
	}
	&__item{
		font-weight: 600;
		color: $color-white;
		cursor: pointer;
		@include hover(2px, 25px, $color-white);
		&.active{
			position: relative;
			&:after{
			content: "";
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 2px;
			background: $color-white;
			margin-top: 25px;
			transition: all 0.7s ease 0s; 
			}
		}
	}
	&__container{
		height: calc(100vh - 275px);
		overflow-y: scroll;
		overflow-x: hidden;
	}
	&__content{
		@extend .max-width;
		height: auto;
		position: relative;
		&.active{
			margin-bottom: 70px;
			height: 268px;
			transition: all 0.9s ease 0s;
		}
	}
	&__assortment{
		width: 100%;
		display: flex;
		position: absolute;
		top: 0;
		left: 15px;
		right: 15px;
		transform-origin: top;
		transform: scale(0);
		transition: all 0.6s ease 0s;
		&.active{
			transform-origin: bottom;
		   	transform: scale(1);
		   	transition: all 0.6s ease 0s;
		}
	}
	&__items{
		flex: 0 1 220px;
	}
	&__subtitle{
		font-weight: 600;
		color: $color-white;
		margin-bottom: 30px;
	}
	&__link{
		display: block;
		color: $color-white;
		margin-bottom: 15px;
		position: relative;
		transition: all 0.5s ease;
		&:last-child{
			margin-bottom: 0;
		}
		&:hover{
			letter-spacing: 0.2em;
			padding-left: 10px;
			transition: all 0.5s ease;
		}
	}
	&__more{
		color: $color-gold;
		font-size: 16px;
		@include hover(1px, 5px, $color-gold);
	}
	&__line{
		max-width: 1116px;
		margin: 0 auto 70px;
		border-top: 1.8px solid $bg-dark;
		padding: 0 15px;
	}
	&__row{
		@extend .max-width;
		@extend .flex-between;
		padding: 0 15px 67px;
	}
	&__collection{
		flex: 0 1 689px;
		color: $color-white;
		background: url(img/collection.jpg) no-repeat;
		border-radius: 2px;
	}
	&__collection_bg{
		background: rgba(39, 39, 39, 0.5);
		padding: 30px;
		height: calc(100% - 60px);
	}
	&__view{
		display: flex;
		justify-content: right;
		align-items: center;
	}
	&__title{
		text-align: center;
		margin: 55px 0 54px;
	}
	&__text{
		color: $color-white;
		margin-right: 20px;
	}
	&__info{
		padding-left: 15px;
		.info__items:last-child{
			margin-top: 48px;
		}
	}
}