@media (max-width: 1200px) {
	.header{
		margin: 50px 0;
	}
	.wrapper:before{
		height: 984px;
	}
	.text{
		font-size: 14px;
	}
	.item{
	    padding: 40px 50px 20px;
	}
}
@media (max-width: 992px) {
	.header{
		margin: 40px 0;
	}
	.wrapper:before{
		height: 878px;
	}
	.first-screen {
    	padding: 200px 0 60px;
	}
	.title{
		font-size: 54px;
	}
	.headline{
		font-size: 42px;
		line-height: 50px;
	}
	.first-screen__subtitle{
	    margin: 40px 0 260px 70px;
	}
	.first-screen__more{
	    margin-left: 20px;
	}
	.figgery__items:nth-child(2){
		display: none;
	}
	.figgery{
		margin: 20px 0;
	    justify-content: center;
	}
	.figgery__items:first-child{
		margin-right: 10px;
	}
	.figgery__item:first-child{
		margin-bottom: 10px;
	}
	.socials{
		padding: 80px 0;
	}
	.socials__slider, .socials-slider__navigation{
		margin-top: 60px;
	}
	.socials-slider__controls{
	    min-width: 300px;
	}
	.socials-slider__prev svg, .socials-slider__next svg {
		width: 43px;
	}
	.footer{
		padding: 70px 0;
	}
	.footer__row{
	    padding-top: 70px;
	}
	.footer__navigation, .burger-menu__navigation{
		overflow-x: scroll;
    	white-space: nowrap;
	}
	.footer__item{
		margin: 10px 10px 15px;
	}
	.burger-menu__item{
		margin: 15px 15px 15px 0;
	}
	.burger-menu__navigation{
		padding: 0 15px 5px;
		margin: 95px 0 50px;
		overflow-y: hidden;
	}
	.burger-menu__item.active:after{
		margin-top: 10px;
	}
	.burger-menu__content.active, .burger-menu__line{
		margin-bottom: 50px;
	}
}
@media (max-width: 767px) {
	.header{
		margin: 30px 0;
	}
	.wrapper:before{
	    height: 650px;
   		width: 48%;
	}
	.first-screen__picture{
		width: 263px;
	}
	.title{
		font-size: 44px;
	}
	.headline{
		font-size: 32px;
		line-height: 45px;
	}
	.first-screen{
	    padding: 160px 0 60px;
	}
	.first-screen__line{
		display: none;
	}
	.first-screen__more{
		margin-left: 0;
	}
	.first-screen__subtitle{
		margin: 30px 0 100px; 
	}
	.item{
		height: 310px;
		padding: 20px 40px 20px;
	}
	.address__subtitle{
		margin: 10px 0 40px 0;
	}
	.socials{
		padding: 60px 0;
	}
	.socials__slider, .socials-slider__navigation{
		margin-top: 40px;
	}
	.socials-slider__controls{
	    min-width: 250px;
	}
	.socials-slider__prev svg, .socials-slider__next svg {
		width: 33px;
	}
	.contact__text{
		font-size: 13px;
	    margin-bottom: 15px;
	}
	.contact__tel{
		font-size: 18px;
	}
	.contact__form{
		margin-top: 50px;
	}
	.footer{
		padding: 50px 0;
	}
	.footer__row{
	    padding-top: 50px;
	    flex-wrap: wrap;
        justify-content: center;
	}
	.footer__info{
		margin: 30px 0 0 ;
	}
	.burger-menu__subtitle{
		margin-bottom: 20px;
	}
	.burger-menu__link{
		font-size: 16px;
	    margin-bottom: 10px;
	}
	.burger-menu__link:hover{
		letter-spacing: 0.05em;
		padding-left: 0;
	}
	.burger-menu__collection_bg{
		padding: 15px;
		height: calc(100% - 30px);
	}
	.burger-menu__text{
		font-size: 14px;
	}
	.burger-menu__arrow svg{
		width: 25px;
	}
	.burger-menu__title{
		margin: 72px 0;
		font-size: 28px;
	}
	.burger-menu__info .info__items:last-child{
		margin-top: 28px;
	}
}
@media (max-width: 576px) {
	.header{
		margin: 5px 0;
	}
	.header.fixed .header__inner{
		padding: 5px 15px;
	}
	.wrapper:before, .burger-menu__collection{
		display: none;
	}
	.collection__chapter{
		font-size: 20px;
	}
	.collection, .header__inner, .address, .contact, .burger-menu__row{
		flex-wrap: wrap;
		justify-content: center;
	}
	.collection__item:first-child{
		margin: 0 0 10px 0;
	}
	.header__block{
		flex: 0 1 100%;
		background: $color-black;
		padding: 10px;
		border-radius: 10px;
		align-items: center;
	}
	.first-screen {
	    padding: 150px 0 20px;
	}
	.first-screen__inner{
		flex-wrap: wrap;
	    justify-content: center;
	    margin-bottom: 150px;
	}
	.discription__name{
		color: $bg-dark;
	}
	.first-screen__subtitle{
		margin: 30px 0 50px; 
	}
	.address__item:last-child {
	    height: 400px;
	}
	.item{
	    height: 240px;
    	padding: 20px;
	}
	.text, .text-light, .text-italic{
		font-size: 14px;
	}
	.item__material{
		margin: 0;
	}
	.address__subtitle{
		margin: 10px 0 30px 0;
	}
	.socials{
		padding: 40px 0;
	}
	.socials__slider, .socials-slider__navigation{
		margin-top: 20px;
	}
	.contact__item{
		flex: 0 1 100%;
	}
	.contact__item:last-child{
		position: absolute;
	    background: #065e58b3;
		padding: 15px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.contact__text, .contact__tel, .contact__input, .input-block label{
		color: $color-white;
	}
	.contact__input-block{
		border-bottom: 1px solid $color-white;
	}
	.contact__btn svg path {
		stroke: $color-white;
	}
	.contact__btn svg{
		width: 25px;
	}
	.footer{
		padding: 30px 0;
	}
	.footer__row{
	    padding-top: 30px;
	}
	.info__text, .footer__item, .burger-menu__item, .burger-menu__subtitle{
		font-size: 12px;
	}
	.info__form{
	    min-width: 240px;
	}
	.burger-menu__navigation {
    	margin: 110px 0 30px;
	}
	.burger-menu__content.active, .burger-menu__line{
		margin-bottom: 30px;
	}
	.burger-menu__assortment.active{
		overflow-x: scroll;
	}
	.burger-menu__items{
		flex: 0 0 150px;
	    margin-bottom: 10px;
	}
}
@media (max-width: 450px) {
	.text{
		font-size: 12px;
	}
	.figgery{
		flex-wrap: wrap;
	}
	.item{
		text-align: center;
	}
	.figgery__items:first-child{
		margin-right: 0;
		margin-bottom: 10px;
	}
	.item__img{
		max-width: 65%;
		margin: 0 auto;
	}
	.item__dascription{
		margin-top: 10px;
	}
	.socials-slider__navigation{
		flex-wrap: wrap;
		justify-content: center;
	}
	.socials-slider__controls{
		flex: 0 1 100%;
	}
	.socials-slider__block{
		order: 2;
		margin-top: 10px;
	}
	.footer{
		padding: 20px 0;
	}
	.footer__row{
	    padding-top: 20px;
	}
	.footer__info{
		margin-top: 20px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.info__items{
		flex: 0 1 100%;
		margin-bottom: 20px;
	}
}