@font-face {
  font-family: 'FuturaPT-Book';
  src : url('fonts/FuturaPT-Book.woff2') format('woff2');
  src : url('fonts/FuturaPT-Book.woff') format('woff');
  src : url('fonts/FuturaPT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'FuturaPT-Light';
  src : url('fonts/FuturaPT-Light.woff2') format('woff2');
  src : url('fonts/FuturaPT-Light.woff') format('woff');
  src : url('fonts/FuturaPT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'segoe_ui_italique';
  src : url('fonts/segoe_ui_italique.woff2') format('woff2');
  src : url('fonts/segoe_ui_italique.woff') format('woff');
  src : url('fonts/segoe_ui_italique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

$title-font: 'Forum', cursive;
$primary-font: 'FuturaPT-Book', sans-serif;
$light-font: 'FuturaPT-Light', sans-serif;
$italic-font: 'segoe_ui_italique', sans-serif;

$bg-dark: #2F2F2F;
$bg-grey: #EDEDED;
$color-black: #272727;
$color-white: #FFFFFF;
$color-grey: #C2C2C2;
$color-dark-grey: #757575;
$color-gold: #EFC58B;
$border: solid 2px $color-white;
