/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'FuturaPT-Book';
  src: url("fonts/FuturaPT-Book.woff2") format("woff2");
  src: url("fonts/FuturaPT-Book.woff") format("woff");
  src: url("fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'FuturaPT-Light';
  src: url("fonts/FuturaPT-Light.woff2") format("woff2");
  src: url("fonts/FuturaPT-Light.woff") format("woff");
  src: url("fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'segoe_ui_italique';
  src: url("fonts/segoe_ui_italique.woff2") format("woff2");
  src: url("fonts/segoe_ui_italique.woff") format("woff");
  src: url("fonts/segoe_ui_italique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
body {
  overflow-x: hidden;
  background: #757575; }
  body img {
    max-width: 100%; }
  body input:focus {
    outline: none; }
  body a {
    text-decoration: none; }
  body.active {
    overflow-y: hidden; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  background: #FFFFFF; }

.container {
  max-width: 1116px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px; }

.title {
  font-family: "Forum", cursive;
  font-size: 64px;
  line-height: 71px;
  letter-spacing: 0.03em; }

.headline {
  font-family: "Forum", cursive;
  font-size: 48px;
  line-height: 53px;
  letter-spacing: 0.03em; }

.text-italic {
  font-family: "segoe_ui_italique", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px; }

.text {
  font-family: "FuturaPT-Book", sans-serif;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.text-light {
  font-family: "FuturaPT-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px; }

.text-big {
  font-family: "FuturaPT-Book", sans-serif;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.05em; }

.text-small {
  font-family: "FuturaPT-Book", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase; }

.btn {
  position: absolute;
  top: 15px;
  right: 0; }

.input-block {
  position: relative;
  padding: 10px 40px 10px 0; }
  .input-block label {
    font-family: "FuturaPT-Light", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    position: absolute;
    pointer-events: none;
    transition: all 0.7s ease 0s;
    top: 50%;
    transform: translateY(-50%);
    display: block; }
  .input-block input:focus + label,
  .input-block input:hover + label {
    transition: all 0.7s ease 0s;
    top: -15px;
    transform: translateY(0); }

.socials-item {
  width: 35px;
  height: 35px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }
  .socials-item:last-child {
    margin-right: 0; }
  .socials-item svg {
    position: relative;
    transition: all 0.7s ease 0s;
    z-index: 3; }
  .socials-item:hover svg {
    transition: all 0.7s ease 0s;
    transform: rotateY(360deg); }
    .socials-item:hover svg path {
      fill: #FFFFFF; }
  .socials-item:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    transition: all 0.7s ease 0s;
    z-index: 2; }
  .socials-item:first-child:hover:before {
    top: 0;
    background: #272727;
    transition: all 0.7s ease 0s; }
  .socials-item:last-child:hover:before {
    top: 0;
    background: #272727;
    transition: all 0.7s ease 0s; }

.flex-between, .header__inner, .header__block, .header__navigation, .burger-menu__inner, .burger-menu__row, .first-screen__inner, .first-screen__subtitle, .first-screen__row, .collection, .address, .figgery, .item, .socials-slider__navigation, .socials-slider__block, .socials-slider__controls, .contact, .footer__navigation, .footer__row, .footer__info, .info__socials, .info__support {
  display: flex;
  justify-content: space-between; }

.flex-center, .collection__inner, .contact__item:last-child {
  display: flex;
  justify-content: center;
  align-items: center; }

.max-width, .burger-menu__inner, .burger-menu__content, .burger-menu__row {
  max-width: 1116px;
  margin: 0 auto; }

.input, .address__input, .contact__input, .info__input {
  width: 100%;
  background: none;
  border: none; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track-x {
  background: transparent; }

::-webkit-scrollbar-thumb {
  background: #C2C2C2;
  border-radius: 2px; }

.header {
  position: relative;
  margin: 70px 0; }
  .header.fixed {
    padding-bottom: 58px; }
  .header.fixed .header__inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: inherit;
    padding: 15px;
    background: #272727;
    transition: all 0.7s ease 0s;
    z-index: 15; }
    .header.fixed .header__inner:before, .header.fixed .header__inner:after {
      position: absolute;
      content: "";
      top: 0;
      height: 100%;
      display: block;
      width: 147px;
      background: #272727;
      z-index: -1; }
    .header.fixed .header__inner:before {
      right: 100%; }
    .header.fixed .header__inner:after {
      left: 100%; }
  .header__inner {
    max-width: 1116px;
    margin: 0 auto;
    align-items: center; }
  .header__logo-block {
    position: relative; }
  .header__logo:last-child {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0; }
    .header__logo:last-child.active {
      z-index: 15; }
  .header__block {
    flex: 0 0 250px;
    z-index: 30; }
  .header__navigation {
    min-width: 140px; }
  .header__elect, .header__user, .header__basket {
    cursor: pointer;
    flex: 0 0 40px; }
    .header__elect span, .header__user span, .header__basket span {
      color: #FFFFFF; }
  .header__burger {
    display: block;
    height: 16px;
    width: 30px;
    position: relative;
    cursor: pointer;
    z-index: 30; }
    .header__burger span {
      background: #FFFFFF;
      position: absolute;
      width: 100%;
      height: 2px;
      top: 7px;
      transition: all 0.7s ease 0s; }
    .header__burger:before, .header__burger:after {
      content: " ";
      background: #FFFFFF;
      position: absolute;
      width: 100%;
      height: 2px;
      transition: all 0.7s ease 0s; }
    .header__burger:before {
      top: 0; }
    .header__burger:after {
      bottom: 0; }
    .header__burger.active span {
      transform: scale(0); }
    .header__burger.active:before {
      transform: rotate(45deg);
      top: 7px; }
    .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 7px; }
  .header__burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    background: #272727;
    z-index: 10;
    transform-origin: top right;
    transform: scale(0);
    transition: all 0.6s ease 0s; }
    .header__burger-menu.active {
      transform: scale(1);
      transition: all 0.6s ease 0s; }

.burger-menu__navigation {
  background: #2F2F2F;
  padding: 27px 15px;
  margin: 130px 0 70px; }
.burger-menu__item {
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  transition: all 0.7s ease 0s; }
  .burger-menu__item:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 0;
    height: 2px;
    background: #FFFFFF;
    margin-top: 25px;
    transition: all 0.7s ease 0s; }
  .burger-menu__item:hover:after {
    width: 100%; }
  .burger-menu__item.active {
    position: relative; }
    .burger-menu__item.active:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background: #FFFFFF;
      margin-top: 25px;
      transition: all 0.7s ease 0s; }
.burger-menu__container {
  height: calc(100vh - 275px);
  overflow-y: scroll;
  overflow-x: hidden; }
.burger-menu__content {
  height: auto;
  position: relative; }
  .burger-menu__content.active {
    margin-bottom: 70px;
    height: 268px;
    transition: all 0.9s ease 0s; }
.burger-menu__assortment {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  transform-origin: top;
  transform: scale(0);
  transition: all 0.6s ease 0s; }
  .burger-menu__assortment.active {
    transform-origin: bottom;
    transform: scale(1);
    transition: all 0.6s ease 0s; }
.burger-menu__items {
  flex: 0 1 220px; }
.burger-menu__subtitle {
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 30px; }
.burger-menu__link {
  display: block;
  color: #FFFFFF;
  margin-bottom: 15px;
  position: relative;
  transition: all 0.5s ease; }
  .burger-menu__link:last-child {
    margin-bottom: 0; }
  .burger-menu__link:hover {
    letter-spacing: 0.2em;
    padding-left: 10px;
    transition: all 0.5s ease; }
.burger-menu__more {
  color: #EFC58B;
  font-size: 16px;
  position: relative;
  transition: all 0.7s ease 0s; }
  .burger-menu__more:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 0;
    height: 1px;
    background: #EFC58B;
    margin-top: 5px;
    transition: all 0.7s ease 0s; }
  .burger-menu__more:hover:after {
    width: 100%; }
.burger-menu__line {
  max-width: 1116px;
  margin: 0 auto 70px;
  border-top: 1.8px solid #2F2F2F;
  padding: 0 15px; }
.burger-menu__row {
  padding: 0 15px 67px; }
.burger-menu__collection {
  flex: 0 1 689px;
  color: #FFFFFF;
  background: url(img/collection.jpg) no-repeat;
  border-radius: 2px; }
.burger-menu__collection_bg {
  background: rgba(39, 39, 39, 0.5);
  padding: 30px;
  height: calc(100% - 60px); }
.burger-menu__view {
  display: flex;
  justify-content: right;
  align-items: center; }
.burger-menu__title {
  text-align: center;
  margin: 55px 0 54px; }
.burger-menu__text {
  color: #FFFFFF;
  margin-right: 20px; }
.burger-menu__info {
  padding-left: 15px; }
  .burger-menu__info .info__items:last-child {
    margin-top: 48px; }

.wrapper:before {
  content: "";
  position: absolute;
  width: 39.3%;
  height: 1024px;
  background: #2F2F2F;
  top: 0;
  right: 0; }

.first-screen {
  padding: 242px 0 60px; }
  .first-screen__inner {
    max-width: 885px; }
  .first-screen__subtitle {
    margin: 50px 0 294px 120px;
    align-items: center; }
  .first-screen__line {
    width: 130px;
    border-top: 1px solid #272727; }
  .first-screen__more {
    color: #272727;
    margin-left: 40px;
    font-weight: 300; }
  .first-screen__picture {
    z-index: 2; }
  .first-screen__item {
    color: #757575;
    margin-right: 10px;
    cursor: pointer; }
    .first-screen__item:last-child {
      margin-right: 0; }
    .first-screen__item.active {
      color: #272727; }
  .first-screen__discription {
    text-align: right;
    z-index: 5; }

.discription__name {
  color: #FFFFFF; }
.discription__material {
  margin: 9px 0;
  color: #C2C2C2; }
.discription__price {
  color: #EFC58B; }

.collection {
  margin: 20px 0; }
  .collection__item {
    flex: 0 1 710px; }
  .collection__inner {
    background: rgba(39, 39, 39, 0.5);
    text-align: center;
    padding: 31.6% 0 32.4% 0;
    color: #FFFFFF;
    position: relative; }
    .collection__inner:before, .collection__inner:after {
      content: '';
      position: absolute;
      top: 15px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      transition: all 0.7s ease 0.7s; }
    .collection__inner:before {
      border-top: solid 2px #FFFFFF;
      border-bottom: solid 2px #FFFFFF;
      transform: scaleX(0); }
    .collection__inner:after {
      border-right: solid 2px #FFFFFF;
      border-left: solid 2px #FFFFFF;
      transform: scaleY(0); }
    .collection__inner:hover:before, .collection__inner:hover:after {
      transform: scale(1); }
  .collection__item:first-child {
    margin-right: 20px;
    background: url(img/men.jpg);
    background-position: center center; }
  .collection__item:last-child {
    background: url(img/women.jpg);
    background-position: center center; }
  .collection__body {
    position: relative;
    z-index: 5; }
  .collection__chapter {
    font-family: "FuturaPT-Light", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF; }
  .collection__line {
    width: 130px;
    border-top: 1px solid #FFFFFF;
    margin: 22px auto 0; }

.address {
  background: #272727; }
  .address__item:first-child {
    flex: 0 1 710px;
    max-width: 386px;
    padding: 0 15px;
    margin: 10% auto;
    color: #FFFFFF; }
  .address__item:last-child {
    flex: 0 1 730px; }
  .address__map {
    width: 100%;
    height: 100%; }
  .address__subtitle {
    margin: 16px 0 60px 0; }
  .address__input-block {
    border-bottom: 1px solid #FFFFFF; }
  .address__label {
    color: #FFFFFF; }
  .address__input {
    color: #FFFFFF; }

.figgery {
  margin: 20px 0; }
  .figgery__items {
    flex: 0 1 400px; }
  .figgery__items:nth-child(2) {
    background: url(img/figgery.jpg) no-repeat;
    background-position: center;
    position: relative;
    flex: 0 1 600px;
    margin: 0 20px; }
  .figgery__item:first-child {
    margin-bottom: 20px; }
  .figgery__discription {
    position: absolute;
    bottom: 20px;
    left: 30px; }

.item {
  flex-direction: column;
  height: 333px;
  padding: 47px 70px 20px;
  background: #EDEDED;
  position: relative; }
  .item:before, .item:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    transition: all 0.7s ease 0.7s; }
  .item:before {
    border-top: solid 2px #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
    transform: scaleX(0); }
  .item:after {
    border-right: solid 2px #FFFFFF;
    border-left: solid 2px #FFFFFF;
    transform: scaleY(0); }
  .item:hover:before, .item:hover:after {
    transform: scale(1); }
  .item__dascription {
    position: relative;
    z-index: 5; }
  .item__name {
    color: #272727; }
  .item__material {
    margin: 9px 0;
    color: #757575; }
  .item__price {
    color: #EFC58B; }

.socials {
  padding: 100px 0;
  background: #272727;
  color: #FFFFFF; }
  .socials__slider {
    margin-top: 80px;
    position: relative; }

.socials-slider {
  position: relative; }
  .socials-slider__navigation {
    align-items: center;
    margin-top: 80px; }
  .socials-slider__block {
    max-width: 90px; }
  .socials-slider__wrapper {
    height: 385px; }
  .socials-slider__controls {
    align-items: center;
    min-width: 335px;
    cursor: pointer; }
    .socials-slider__controls .swiper-pagination-bullet {
      margin: 0 8px;
      background-color: #FFFFFF;
      cursor: pointer; }
  .socials-slider__prev, .socials-slider__next {
    cursor: pointer; }
  .socials-slider .swiper-pagination {
    position: relative; }
  .socials-slider__slide {
    width: auto; }
    .socials-slider__slide img {
      object-fit: cover; }

.swiper-container {
  position: inherit; }

.contact {
  position: relative; }
  .contact__item {
    flex: 0 1 50%; }
  .contact__item:first-child {
    background: #109489; }
  .contact__inner {
    max-width: 340px;
    text-align: left;
    padding: 0 15px; }
  .contact__text {
    text-transform: uppercase;
    color: #272727;
    margin-bottom: 30px; }
  .contact__tel {
    font-family: "FuturaPT-Book", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    color: #C2C2C2; }
  .contact__form {
    margin-top: 110px;
    max-width: 280px; }
  .contact__input-block {
    border-bottom: 1px solid #272727; }
  .contact__label {
    color: #C2C2C2; }
  .contact__input {
    color: #C2C2C2; }

.footer {
  padding: 80px 0 90px;
  background: #272727; }
  .footer__item {
    color: #FFFFFF;
    position: relative;
    transition: all 0.7s ease 0s; }
    .footer__item:after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 0;
      height: 1px;
      background: #FFFFFF;
      margin-top: 5px;
      transition: all 0.7s ease 0s; }
    .footer__item:hover:after {
      width: 100%; }
  .footer__row {
    align-items: center;
    padding-top: 90px; }
  .footer__info {
    flex: 0 1 548px;
    margin-left: 20px; }

.info__text {
  color: #FFFFFF; }
.info__tel {
  color: #C2C2C2;
  margin: 15px 0; }
.info__socials {
  max-width: 90px; }
.info__form {
  margin-bottom: 15px;
  min-width: 280px; }
.info__input-block {
  border-bottom: 1px solid #FFFFFF; }
  .info__input-block input::placeholder {
    color: #C2C2C2; }
.info__input {
  color: #C2C2C2; }
.info__support {
  max-width: 200px; }

@media (max-width: 1200px) {
  .header {
    margin: 50px 0; }

  .wrapper:before {
    height: 984px; }

  .text {
    font-size: 14px; }

  .item {
    padding: 40px 50px 20px; } }
@media (max-width: 992px) {
  .header {
    margin: 40px 0; }

  .wrapper:before {
    height: 878px; }

  .first-screen {
    padding: 200px 0 60px; }

  .title {
    font-size: 54px; }

  .headline {
    font-size: 42px;
    line-height: 50px; }

  .first-screen__subtitle {
    margin: 40px 0 260px 70px; }

  .first-screen__more {
    margin-left: 20px; }

  .figgery__items:nth-child(2) {
    display: none; }

  .figgery {
    margin: 20px 0;
    justify-content: center; }

  .figgery__items:first-child {
    margin-right: 10px; }

  .figgery__item:first-child {
    margin-bottom: 10px; }

  .socials {
    padding: 80px 0; }

  .socials__slider, .socials-slider__navigation {
    margin-top: 60px; }

  .socials-slider__controls {
    min-width: 300px; }

  .socials-slider__prev svg, .socials-slider__next svg {
    width: 43px; }

  .footer {
    padding: 70px 0; }

  .footer__row {
    padding-top: 70px; }

  .footer__navigation, .burger-menu__navigation {
    overflow-x: scroll;
    white-space: nowrap; }

  .footer__item {
    margin: 10px 10px 15px; }

  .burger-menu__item {
    margin: 15px 15px 15px 0; }

  .burger-menu__navigation {
    padding: 0 15px 5px;
    margin: 95px 0 50px;
    overflow-y: hidden; }

  .burger-menu__item.active:after {
    margin-top: 10px; }

  .burger-menu__content.active, .burger-menu__line {
    margin-bottom: 50px; } }
@media (max-width: 767px) {
  .header {
    margin: 30px 0; }

  .wrapper:before {
    height: 650px;
    width: 48%; }

  .first-screen__picture {
    width: 263px; }

  .title {
    font-size: 44px; }

  .headline {
    font-size: 32px;
    line-height: 45px; }

  .first-screen {
    padding: 160px 0 60px; }

  .first-screen__line {
    display: none; }

  .first-screen__more {
    margin-left: 0; }

  .first-screen__subtitle {
    margin: 30px 0 100px; }

  .item {
    height: 310px;
    padding: 20px 40px 20px; }

  .address__subtitle {
    margin: 10px 0 40px 0; }

  .socials {
    padding: 60px 0; }

  .socials__slider, .socials-slider__navigation {
    margin-top: 40px; }

  .socials-slider__controls {
    min-width: 250px; }

  .socials-slider__prev svg, .socials-slider__next svg {
    width: 33px; }

  .contact__text {
    font-size: 13px;
    margin-bottom: 15px; }

  .contact__tel {
    font-size: 18px; }

  .contact__form {
    margin-top: 50px; }

  .footer {
    padding: 50px 0; }

  .footer__row {
    padding-top: 50px;
    flex-wrap: wrap;
    justify-content: center; }

  .footer__info {
    margin: 30px 0 0; }

  .burger-menu__subtitle {
    margin-bottom: 20px; }

  .burger-menu__link {
    font-size: 16px;
    margin-bottom: 10px; }

  .burger-menu__link:hover {
    letter-spacing: 0.05em;
    padding-left: 0; }

  .burger-menu__collection_bg {
    padding: 15px;
    height: calc(100% - 30px); }

  .burger-menu__text {
    font-size: 14px; }

  .burger-menu__arrow svg {
    width: 25px; }

  .burger-menu__title {
    margin: 72px 0;
    font-size: 28px; }

  .burger-menu__info .info__items:last-child {
    margin-top: 28px; } }
@media (max-width: 576px) {
  .header {
    margin: 5px 0; }

  .header.fixed .header__inner {
    padding: 5px 15px; }

  .wrapper:before, .burger-menu__collection {
    display: none; }

  .collection__chapter {
    font-size: 20px; }

  .collection, .header__inner, .address, .contact, .burger-menu__row {
    flex-wrap: wrap;
    justify-content: center; }

  .collection__item:first-child {
    margin: 0 0 10px 0; }

  .header__block {
    flex: 0 1 100%;
    background: #272727;
    padding: 10px;
    border-radius: 10px;
    align-items: center; }

  .first-screen {
    padding: 150px 0 20px; }

  .first-screen__inner {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px; }

  .discription__name {
    color: #2F2F2F; }

  .first-screen__subtitle {
    margin: 30px 0 50px; }

  .address__item:last-child {
    height: 400px; }

  .item {
    height: 240px;
    padding: 20px; }

  .text, .text-light, .text-italic {
    font-size: 14px; }

  .item__material {
    margin: 0; }

  .address__subtitle {
    margin: 10px 0 30px 0; }

  .socials {
    padding: 40px 0; }

  .socials__slider, .socials-slider__navigation {
    margin-top: 20px; }

  .contact__item {
    flex: 0 1 100%; }

  .contact__item:last-child {
    position: absolute;
    background: #065e58b3;
    padding: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

  .contact__text, .contact__tel, .contact__input, .input-block label {
    color: #FFFFFF; }

  .contact__input-block {
    border-bottom: 1px solid #FFFFFF; }

  .contact__btn svg path {
    stroke: #FFFFFF; }

  .contact__btn svg {
    width: 25px; }

  .footer {
    padding: 30px 0; }

  .footer__row {
    padding-top: 30px; }

  .info__text, .footer__item, .burger-menu__item, .burger-menu__subtitle {
    font-size: 12px; }

  .info__form {
    min-width: 240px; }

  .burger-menu__navigation {
    margin: 110px 0 30px; }

  .burger-menu__content.active, .burger-menu__line {
    margin-bottom: 30px; }

  .burger-menu__assortment.active {
    overflow-x: scroll; }

  .burger-menu__items {
    flex: 0 0 150px;
    margin-bottom: 10px; } }
@media (max-width: 450px) {
  .text {
    font-size: 12px; }

  .figgery {
    flex-wrap: wrap; }

  .item {
    text-align: center; }

  .figgery__items:first-child {
    margin-right: 0;
    margin-bottom: 10px; }

  .item__img {
    max-width: 65%;
    margin: 0 auto; }

  .item__dascription {
    margin-top: 10px; }

  .socials-slider__navigation {
    flex-wrap: wrap;
    justify-content: center; }

  .socials-slider__controls {
    flex: 0 1 100%; }

  .socials-slider__block {
    order: 2;
    margin-top: 10px; }

  .footer {
    padding: 20px 0; }

  .footer__row {
    padding-top: 20px; }

  .footer__info {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center; }

  .info__items {
    flex: 0 1 100%;
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
